{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>E-Fertilizer's | Update Product</title>
        <link rel="shortcut icon" href="{% static 'Logo/my.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "CSS/index.css" %}">
    </head>
    <body>
        <header>
            <a class="logo" href="#"><img src='{% static 'Logo/my.png' %}'> </a>
            <div class="menu-toggle"></div>
            <nav>
                <ul>
                    <li><a href="{% url "shome" %}">Home</a></li>
                    <li><a href="{% url "s_add_pro" %}">Add Products</a></li>
                    <li><a class="active" href="{% url "sproducts" %}">Products</a></li>
                    <li><a href="{% url "sorders" %}">Orders</a></li>
                    <li><a href="{% url "sprofile" %}">Profile</a></li>
                    <li><a href="{% url "slogout" %}">Logout</a></li>
                </ul>
            </nav>
            <div class="clearfix"></div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-5">
                    <h2 class="addp1">Update Product</h2><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-5">
                    <form action="{% url 'update' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row addp2">
                            {% for item in pro %}
                                <label  class="col-lg-5 control-label" >Product Name :</label>
                                <input type="text" class="col-lg-7 form-control" value="{{ item.Product_Name }}" placeholder="Product Name" required name="product_name"><br><br>

                                <label  class="col-lg-5 control-label" >Product Price :</label>
                                <input type="number" class="col-lg-7 form-control" value="{{ item.Product_Price }}" placeholder="Product Price" required name="product_price"><br><br>


                                <label  class="col-lg-5 control-label" >Product Image :</label>
                                <input type="file" class="col-lg-7" name="product_image"><br><br><br>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-8"></div>
                                        <div class="col-lg-4">
                                            <img style="height: 100px;width: 100px;" src="{{ item.Product_Image.url }}">
                                        </div>
                                    </div>

                                </div>

                                <label  class="col-lg-5 control-label" >Product Quantity :</label>
                                <input type="number" class="col-lg-7 form-control" value="{{ item.Product_Quantity }}" placeholder="Product Quantity" required name="product_quantity"><br><br>

                                <label  class="col-lg-5 control-label" >Product Weight :</label>
                                <input type="number" class="col-lg-7 form-control" value="{{ item.Product_Weight }}" placeholder="Product Weight" required name="product_weight"><br><br>

                                <label  class="col-lg-6 control-label" >Product Weight In Kgs/Lit :</label>
                                <input type="text" class="col-lg-6 form-control" placeholder="Weight In Kgs/ML" value="{{ item.Product_Weight1 }}" required name="product_weight1"><br><br>

                                <label  class="col-lg-6 control-label" >Product Description :</label>
                                <input style="height: 60px;" class="col-lg-6 form-control" name="product_description" placeholder="Enter Product Description" value="{{ item.Product_Description }}"><br><br><br>

                                {% if item.Product_Status == 'Active' %}
                                    <label class="control-label col-lg-5" for="Productselect">Product Status :</label>
                                    <select name="status" style="height: 35px;" class="col-lg-7 custom-select input1" required>
                                        <option selected value="Active">Active</option>
                                        <option value="InActive">InActive</option>
                                    </select><br><br>
                                {% else %}
                                    <label class="control-label col-lg-5" for="Productselect">Product Status :</label>
                                    <select name="status" style="height: 35px;" class="col-lg-7 custom-select input1" required>
                                        <option value="Active">Active</option>
                                        <option selected value="InActive">InActive</option>
                                    </select><br><br>
                                {% endif %}


                                <div class="col-lg-12">
                                    <input type="hidden" value="{{ item.id }}" name="id">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://use.fontawesome.com/069e5e99af.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.menu-toggle').click(function(){
                    $('.menu-toggle').toggleClass('active')
                    $('nav').toggleClass('active')
                })
            })
        </script>
    </body>
</html>